<div class="row">
  <h1 class="title">Dashboard</h1>

  <div class="row">
    <div class="large-6 columns">
      <h2>Newsfeed</h2>

      <div class="panel">
        some content goes here
        some content goes here
        some content goes here
        some content goes here
        some content goes here
        some content goes here
        some content goes here
        some content goes here
      </div>
    </div>

    <div class="large-6 columns">
      <h2>Quick Question</h2>

      <div class="panel">
        some content goes here
        some content goes here
        some content goes here
        some content goes here
        some content goes here
        some content goes here
        some content goes here
        some content goes here
      </div>
    </div>
  </div>

  <div class="row">
    <div class="panel">
      <ul class="status-buttons">
        <li><a href="#" class="button alert"> I'm Feeling Lucky</a></li>
        <li><a href="#" class="button info"> I'm Feeling Lucky</a></li>
        <li><a href="#" class="button success"> I'm Feeling Lucky</a></li>
        <li><a href="#" class="button secondary"> I'm Feeling Lucky</a></li>
      </ul>
    </div>
  </div>



<!-- This is the end -->
</div>
